:host {
  display: flex;
  flex-flow: column;
  height: 100%;

  mat-toolbar {
    > mat-icon {
      user-select: none;
      transition: transform 0.3s;
    }
    > mat-icon:hover {
      transform: scale(1.4);
    }

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: solid black 3px;
    }
  }

  mat-drawer-container {
    border-left: solid rgb(14, 95, 104) 15px;
    > mat-drawer {
      flex: 1 1;
      background-color: rgb(19, 127, 139);

      mat-sidenav-content {
        display: block;
        color: rgb(157, 221, 228);
        padding: 8px 16px;
        text-decoration: none;
        background-color: rgb(19, 127, 139);
      }

      mat-sidenav-content:hover {
        background-color: rgba(19, 127, 139, 0.473);
        color: rgb(32, 76, 80);
      }
    }
  }

  .hide {
    visibility: hidden;
  }

  yaga-map {
    height: 400px;
  }
  tr {
  }

  th {
    background-color: rgb(19, 127, 139);
    color: white;
    padding: 10px;
  }

  td {
    background-color: rgba(19, 127, 139, 0.568);
  }

  .formulaire-Chamis-Container {
    text-align: center;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}

//CSS pour le POPUP
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
  cursor: pointer;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .popup {
    width: 70%;
  }
}
//FIN css POPUP

.boutonFormulaire{
  margin-right: 1%;
}