:host {
  display: flex;
  flex-flow: column;
  height: 100%;

  mat-toolbar {
    > mat-icon {
      user-select: none;
      transition: transform .3s;
    }
    > mat-icon:hover {
      transform: scale(1.4);
    }

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: solid black 3px;
    }
  }

  mat-drawer-container {
    flex: 1 1;
    > mat-drawer {
      border-right: solid grey 3px;
    }
  }

  yaga-map {
    height: 480px;
  }

  th{
    background-color: rgb(87, 87, 87);
  }

  td{
    background-color: rgb(153, 153, 153);
  }

  .formulaire-Chamis-Container{
    text-align: center
  }

  .hide{
    display: none;
  }

  .carteTitre{
    text-align: center;
    color: #1a1c80;
    font-weight: bold;
    font-size: xx-large;
  }

  mat-sidenav-container{
    cursor: pointer;
    border: 1px solid black;
  }

  mat-sidenav-container:hover{
    background-color: grey;
  }
}
