<html>
  <router-outlet></router-outlet>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Menu">
      <mat-icon (click)="drawer.toggle()">menu</mat-icon>
    </button>
    <label>
      Projet intégrateur
    </label>
    <label class="spacer"></label>
  
    <mat-icon *ngIf="(auth.user | async) === null" [matMenuTriggerFor]="menuConnect">
      account_circle
    </mat-icon>
    <mat-icon *ngIf="auth.user | async as user" [matMenuTriggerFor]="menuDisconnect">
      <img [src]="user.photoURL">
    </mat-icon>
  
    <mat-menu #menuConnect="matMenu">
      <button mat-menu-item (click)="login()">
        &nbsp;
        <span>Compte Google</span>
      </button>
    </mat-menu>
    <mat-menu #menuDisconnect="matMenu">
      <button mat-menu-item (click)="logout()">
        <span >Déconnexion</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  
  <mat-drawer-container class="example-container">
    <mat-drawer #drawer [mode]="mode.value">
      <mat-sidenav-container>
        <mat-sidenav>defis</mat-sidenav>
        <mat-sidenav-content (click)="afficheListeDefis()">Afficher la liste des defis</mat-sidenav-content>
      </mat-sidenav-container>
      <mat-sidenav-container>
        <mat-sidenav>chamis</mat-sidenav>
        <mat-sidenav-content (click)="afficheListeChamis()">Afficher la liste des chamis</mat-sidenav-content>
      </mat-sidenav-container>
      <mat-sidenav-container>
        <mat-sidenav>inscriptionChamis</mat-sidenav>
        <mat-sidenav-content (click)="afficheInscriptionChamis()">Vous inscrire chez les chamis !</mat-sidenav-content>
      </mat-sidenav-container>
      <mat-sidenav-container>
        <mat-sidenav>EditDefis</mat-sidenav>
        <mat-sidenav-content (click)="AfficheEditDefis()">Edit les défis</mat-sidenav-content>
      </mat-sidenav-container>
      <mat-sidenav-container>
        <mat-sidenav>EditeChamis</mat-sidenav>
        <mat-sidenav-content (click)="AfficheEditChamis()">Edit les chamis</mat-sidenav-content>
      </mat-sidenav-container>
      <mat-sidenav-container>
        <mat-sidenav>EditeArrets</mat-sidenav>
        <mat-sidenav-content (click)="AfficheEditArrets()">Edit les arrets</mat-sidenav-content>
      </mat-sidenav-container>
    </mat-drawer>
    <mat-drawer-content>
      <mat-form-field>
        <mat-label>Sidenav mode</mat-label>
        <mat-select #mode value="push">
          <mat-option value="side">Side</mat-option>
          <mat-option value="over">Over</mat-option>
          <mat-option value="push">Push</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Debut assistant -->
      <div class="visiteAccueil">
        <h1>Pour commencer une visite cliquer sur le bouton si dessous</h1>
        <button mat-raised-button color="primary" (click)="CommencerVisite()">Commencer une visite</button>
      </div>

      <div class="texteChoisirDefis" *ngIf="isVisiteCommence">
        <h2>Veuillez choisir un defis, pour cela cliquez sur un defis dans le tableau ou choisissez en un sur la carte</h2>
      </div>
      <!-- Fin assistant -->

      <div class="overlay" *ngIf="popupEditDefis">
        <div class="popup">
            <h2>Vous etes en mode édition de défis !</h2>
            <a class="close" (click)="popupEditDefis = false">&times;</a>
            <div class="content">
            Veuillez fermer l'éditeur de défis avant d'ouvrir autre chose !
            </div>
        </div>
      </div>

      <div class="overlay" *ngIf="popupEditChamis">
        <div class="popup">
            <h2>Vous etes en mode édition de chamis !</h2>
            <a class="close" (click)="popupEditChamis = false">&times;</a>
            <div class="content">
            Veuillez fermer l'éditeur de chamis avant d'ouvrir autre chose !
            </div>
        </div>
      </div>

      <div class="overlay" *ngIf="popupEditArrets">
        <div class="popup">
            <h2>Vous etes en mode édition de arrets !</h2>
            <a class="close" (click)="popupEditArrets = false">&times;</a>
            <div class="content">
            Veuillez fermer l'éditeur de arrets avant d'ouvrir autre chose !
            </div>
        </div>
      </div>
  
      <!-- formulaire pour ajouter un chamis ! -->
      <div *ngIf="isSincrireChamis">
        <hr/>
        <form class="formulaire-Chamis-Container" *ngIf="auth.user | async as user">
          <h2>Pas encore inscrit ?</h2>
          <br/>
          <mat-form-field appearance="fill">
            <mat-label>nom</mat-label>
            <input matInput type="string" #nom>
          </mat-form-field>
          <br/>
          <mat-form-field appearance="fill">
            <mat-label>prénom</mat-label>
            <input matInput type="string" #prenom> 
          </mat-form-field>
          <br>
          <button mat-raised-button color="primary" (click)="creerNouveauChamis(user.email,nom.value,prenom.value)">M'inscrire chez les chamis !</button>
        </form>
        <hr/>
      </div>
      <!-- Fin formulaire ajouter un chamis ! -->
  
      <!-- Bouton qui creer un chamis -->
      <div *ngIf="auth.user | async as user" class="hide">
        <button (click)="creerNouveauChamis(user.email,'test','test')">Ajoutez moi aux chamis !</button>
        <b *ngFor="let post of post$ | async"> </b>
      </div>
      
      <h2 *ngIf=isAfficheEditChamis>Cliquer sur un Chamis pour le modifier</h2>
      <!-- fetch des chamis ! -->
      <div *ngIf="isAfficheListeChamis">
        <br/>
        <hr />
        <h3> Les chamis : </h3>
        <table border="1px solid black">
          <tr>
            <th>Login</th>
            <th>nom</th>
            <th>prénom</th>
          </tr>
          <tr *ngFor="let chamis of tousLeschamis$ | async"
            (click)="afficheLeChamis(chamis)">
            <td>{{chamis.login}}</td>
            <td>{{chamis.nom}}</td>
            <td>{{chamis.prenom}}</td>
          </tr>
        </table>
        <br/>
        <hr/>
      </div>
      <!-- Fin du fetch des chamis ! -->

      <h2 *ngIf=isAfficheEditDefis>Cliquer sur un défis pour le modifier</h2>
      <!-- fetch des defis ! -->
      <div *ngIf="isAfficheListeDefis">
        <h3> Les defis : </h3>

        <label for="choix_defis" >Choix DEFIS</label>
        <input list="defis" type="text" id="choix_defis"(change)="afficheLedefis($event)">
        <datalist id="defis" #lab>
            <option *ngFor="let leDefis of defis$ | async" [value]="leDefis.id"> {{leDefis.titre}}</option>
        </datalist>

        <table  border="1px solid black">
          <tr>
            <th> ID </th>
            <th> Titre </th>
            <th> Date de Creation </th>
            <th> Auteur </th>
            <th> Latitude </th>
            <th> Longitude </th>
          </tr>
          <tr *ngFor="let defis of defis$ | async"
          (click)="afficheLedefis(defis)">
            <td> {{defis.id }} </td>
            <td> {{defis.titre}} </td>
            <td> {{defis.dateDeCreation}} </td>
            <td> {{defis.loginAuteur}} </td>
            <td> {{defis.latitude}} </td>
            <td> {{defis.longitude}} </td>
          </tr>
        </table>
        <hr />
      </div>
      <!-- Fin du fetch des defis ! -->

       <!-- Affiche l'éditeur de Chamis -->
       <div *ngIf="isAfficheEditChamis">
        <h1>Le Chamis</h1>
          <form class="formulaire-Chamis-Container">
            <mat-form-field appearance="fill">
              <mat-label>Login</mat-label>
              <input matInput type="string" [value]=leChamis.login #login> 
            </mat-form-field>
            <br/>
            <mat-form-field appearance="fill">
              <mat-label>Nom</mat-label>
              <input matInput type="string" [value]=leChamis.nom #nom> 
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
              <mat-label>Prenom</mat-label>
              <input matInput type="string" [value]=leChamis.prenom #prenom> 
            </mat-form-field>
            <br/>
            <br/>
            <button class="boutonFormulaire" mat-raised-button color="primary" (click)="modifieChamis(login.value,nom.value,prenom.value)">Modifier mon chamis</button>
            <button mat-raised-button color="primary" (click)="creerNouveauChamis(login.value,nom.value,prenom.value)">Créer un nouveau chamis</button>
          </form>
        </div>
      <!-- Fin de l'éditeur de chamis -->

      <!-- Affiche l'éditeur de défis -->
      <div *ngIf="isAfficheEditDefis">
        <h1>Le defis</h1>

        <form class="formulaire-Chamis-Container">
              <mat-form-field>
                <mat-label>Liste De Defis</mat-label>
                <mat-select #mode>
                  <mat-option *ngFor="let defis of defis$ | async"  value={{defis}} 
                  (click)="afficheLedefis(defis)" value={{defis}}
                  #lab> {{defis.id}}
                </mat-option>
                </mat-select>
              </mat-form-field>
          <br/>
          <mat-form-field appearance="fill">
            <mat-label>id</mat-label>
            <input matInput type="string" [value]=leDefis.id #id> 
          </mat-form-field>
          <br/>
          <mat-form-field appearance="fill">
            <mat-label>Titre</mat-label>
            <input matInput type="string" [value]=leDefis.titre #titre> 
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>date de création</mat-label>
            <input matInput type="string" [value]=leDefis.dateDeCreation #dateCreation> 
          </mat-form-field>
          <br/>
          <mat-form-field appearance="fill">
            <mat-label>description</mat-label>
            <textarea matInput type="string" [value]=leDefis.description #description> </textarea>
          </mat-form-field>
          <br/>
          <mat-form-field appearance="fill">
            <mat-label>login auteur</mat-label>
            <input matInput type="string" [value]=leDefis.loginAuteur #longinAuteur> 
          </mat-form-field>
          <br/>
          <mat-form-field appearance="fill">
            <mat-label>latitude</mat-label>
            <input matInput type="string" [value]=leDefis.latitude #latitude> 
          </mat-form-field>
          <br/>
          <mat-form-field appearance="fill">
            <mat-label>longitude</mat-label>
            <input matInput type="string" [value]=leDefis.longitude #longitude> 
          </mat-form-field>
          <br/>
          <button class="boutonFormulaire" mat-raised-button color="primary" (click)="modifieDefis(id.value,titre.value,dateCreation.value,description.value,longinAuteur.value,latitude.value,longitude.value)">Modifier mon défis</button>
          <button mat-raised-button color="primary" (click)="creerNouveauDefis(id.value,titre.value,dateCreation.value,description.value,longinAuteur.value,latitude.value,longitude.value)">Créer un nouveau défis</button>
        </form>
      </div>
      <!-- Fin de l'éditeur de défis -->

       <!-- Affiche l'éditeur des Arrets -->
       <div *ngIf="isAfficheEditArrets">
        <h1>Arret</h1>
        <label for="choix_arrets" >Choix ARRET</label>
        <input list="arret" type="text" id="choix_arrets"  (change)="afficheTagArret($event)" 
        >
        <datalist id="arret" #lab>
            <option *ngFor="let arrettag of arretTag$ | async "
           (ngValue)="arrettag"
          > {{arrettag.properties.LIBELLE}}</option>
        </datalist>
        
        <form class="formulaire-Chamis-Container">
          <mat-form-field>
            <mat-label>Liste D'arret</mat-label>
            <mat-select #mode>
              <mat-option *ngFor="let arret of arret$ | async"  value={{arret}} 
              (click)="afficheArret(arret)" value={{arret}}
              #lab> {{arret.nomArret}}
            </mat-option>
            </mat-select>
          </mat-form-field>
          <br/>
            <mat-form-field appearance="fill">
              <mat-label>Nom Arret</mat-label>
              <input matInput type="string" [value]=Arret.nomArret  #nomA> 
            </mat-form-field>
            <br/>
            <mat-form-field appearance="fill">
              <mat-label>Code</mat-label>
              <input matInput type="string" [value]=Arret.code #code> 
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
              <mat-label>Latitude</mat-label> 
              <input matInput type="string" [value]=Arret.latitude #latitude>
            </mat-form-field>
            <br/>
            <mat-form-field appearance="fill">
              <mat-label>Longitude</mat-label>
              <input matInput type="string" [value]=Arret.longitude #longitude> 
            </mat-form-field>
            <br>

            <mat-form-field appearance="fill">
              <mat-label>StreetView</mat-label>
              <input matInput type="string" [value]=Arret.streetView #streetView> 
            </mat-form-field>
            <br>
            <form [action]=streetView.value target="_blank">
              <button type="submit" >StreetVIEW</button>
            </form>
            <form [action]="getGoogleMapView(latitude.value,longitude.value)" target="_blank">
                <button type="submit" >GoogleMapVieW</button>
            </form>
            <mat-form-field appearance="fill">
              <mat-label>Nom Ville</mat-label>
              <input matInput type="string" [value]=Arret.nomVille #nomV> 
            </mat-form-field>
            <br/>
            <br/>
            <button mat-raised-button color="primary" (click)="modifieArret(nomA.value,code.value,latitude.value,longitude.value,nomV.value,streetView.value)">Modifier Arret</button>
            <button mat-raised-button color="primary" (click)="creerNouveauArret(nomA.value,code.value,latitude.value,longitude.value,nomV.value,streetView.value)">Ajoute Arret</button>
          </form>
        </div>
      <!-- Fin de l'éditeur de L'arret -->  
  
      <!-- Affiche le défis selectionnes sur la carte -->
      <div *ngIf="isDefisSelectionne">
          <h2>Votre défis : </h2>
          <table  border="1px solid black">
            <tr>
              <th> ID </th>
              <th> Titre </th>
              <th> descriptionDefis </th>
            </tr>
            <tr>
              <td>
                {{ leDefis.id }}
              </td>
              <td>
                {{ leDefis.titre }}
              </td>
              <td>
                {{ leDefis.description}}
              </td>
            </tr>
          </table>
      </div>

      <!-- question reponse du defis -->
      <div *ngIf="isDefisSelectionne" class="formReponseDefis">
        <div class ="question" *ngIf="isVisiteCommence">
          <h3> La question est la suivante : </h3>
        </div>

        <div class="indice" *ngIf="isVisiteCommence">
          <h3> Besoin d'un indice ?</h3>
          <button mat-raised-button color="primary" autocomplete="off">Obtenir un indice</button>
        </div>
        <br/>
        <div class="reponse" *ngIf="isVisiteCommence">
          <h3> Entrer votre reponse :</h3>
          <mat-form-field appearance="fill">
            <mat-label>reponse</mat-label>
            <input matInput type="string" #reponse> 
          </mat-form-field>
          <button mat-raised-button color="primary" autocomplete="off">valider ma reponse</button>
        </div>
      </div>
      
      <!-- Code relatif à la carte -->
      <h1 class="carteTitre"> Voici la carte des défis :</h1>

      <yaga-map [lng]="5.724524" [lat]="45.188529" [zoom]="12">
        <yaga-tile-layer [(url)]="tileLayerUrl"></yaga-tile-layer>
        <yaga-polyline *ngFor="let ligne of lignes$| async"
        [geoJSON]="ligne"
        [weight]=3
        [color]= "rgbToString(ligne)"
        ></yaga-polyline>
        <yaga-marker *ngFor="let defis of defis$ | async "
                      [lng] = defis.longitude
                      [lat] = defis.latitude
                      [display] = "true"
                      [opacity] = "1"
                      (click)="afficheLedefis(defis)"
                      [title]= defis.titre>
          <yaga-icon [iconUrl]="iconMarker" ></yaga-icon>
          <yaga-popup>
            <table>
              <tr>
                <td> Description </td>
              </tr>
            <tr>
              <td> {{defis.description}} </td>
            </tr>
          </table>
           </yaga-popup>
        </yaga-marker>
        <yaga-zoom-control> ZOOM </yaga-zoom-control>  
      </yaga-map>
     </mat-drawer-content>
  </mat-drawer-container>  
</html>